<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="users" ></ion-back-button>
    </ion-buttons>
    <ion-title>Dettaglio utente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(user$) as user" class="ion-padding ion-text-center">
  <ion-card>
      <img [src]="user.picture.medium" style="border-radius:50%" />
    <ion-card-header>
      <ion-card-subtitle>{{user.name.title}}</ion-card-subtitle>
      <ion-card-title>{{user.name.first}} {{user.name.last}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="call" slot="start" color="danger"></ion-icon>
          <ion-label>{{user.phone}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row><ion-col size="12" class="ion-text-center">Nascita</ion-col></ion-row>
        <ion-row><!--tipo colonne di bootstrap-->
          <ion-col>{{user.nat}}</ion-col>
          <ion-col>{{user.dob.date}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

